version: '3.8'

services:
  postgres:
    container_name: postgres
    image: postgres:15.1
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  redis:
    container_name: redis
    image: redis:7.0.1
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data/redis:rw

  mongodb:
    container_name: mongo
    image: mongo:5.0.14
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  postgres_data:
  redis_data:
  mongodb_data:
