@media screen and (max-width: 991px) {
   .navbar-collapse::after {
      background-color: #01242d;
   }
   .navbar-collapse {
      padding: 0 15px;
   }
   .nav-item {
      display: contents;
      text-align: center;
   }
}

.loader-wrapper {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loader {
   width: 90px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.loader-item {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: rgba(2, 49, 119, 0.5);
}
.loader-item:nth-child(1) {
   animation: bouncing 0.4s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95);
}
.loader-item:nth-child(2) {
   animation: bouncing 0.4s 0.1s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}
.loader-item:nth-child(3) {
   animation: bouncing 0.4s 0.2s alternate infinite cubic-bezier(0.6, 0.05, 0.15, 0.95) backwards;
}

@keyframes bouncing {
   0% {
      transform: translate3d(0, 10px, 0) scale(1.2, 0.85);
   }
   100% {
      transform: translate3d(0, -20px, 0) scale(0.9, 1.1);
   }
}

#app {
   display: none;
}
.fog-low {
   position: absolute;
   left: 0;
   bottom: 0;
   margin-left: -35%;
   margin-bottom: -50px;
   width: 110%;
   opacity: 0.85;
}
.fog-low img {
   width: 100%;
}
.fog-low.right {
   margin-left: 30%;
   opacity: 1;
}

.page-header .content-center {
   margin-top: 85px;
}

.moving-clouds {
   position: absolute;
   z-index: 1;
   bottom: 0;
   left: 0;
   width: 250.625em;
   height: 43.75em;
   -webkit-animation: cloudLoop 80s linear infinite;
   animation: cloudLoop 80s linear infinite;
}
@keyframes cloudLoop {
   0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
   }
   100% {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
   }
}

#volumeUp {
	display: none;
}

#pauseplay {
	cursor: pointer;
}
